---
import type { Pin } from '../types/map-types';
import '../styles/map.css';

interface Props {
  pins?: Pin[];
  center?: [number, number];
  zoom?: number;
}

const { pins = [], center = [15.0, 46.15], zoom = 8.5 } = Astro.props;
---

<link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css' rel='stylesheet' />

<div
  id="map"
  class="w-full h-full"
  data-center={JSON.stringify(center)}
  data-zoom={zoom}
  data-pins={JSON.stringify(pins)}
></div>

<script>
  import { initializeMap } from '../scripts/map';
  import type { Pin } from '../types/map-types';

  const mapEl = document.getElementById('map');
  if (mapEl) {
    const center = JSON.parse(mapEl.dataset.center!) as [number, number];
    const zoom = parseFloat(mapEl.dataset.zoom!);
    const pins = JSON.parse(mapEl.dataset.pins!) as Pin[];

    initializeMap({
      containerId: 'map',
      center,
      zoom,
      pins,
    });
  }
</script>