<html>
  <head>
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body>
    <script type="module" src="/src/scripts/cms.ts"></script>
  </body>
</html>