<html>
  <head>
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body>
    <script type="module" src="../../scripts/cms.ts"></script>
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              window.netlifyIdentity.close();
            });
          }
        });
      }
    </script>
  </body>
</html>